/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 11, 2024, 9:29:38 PM
    Author     : User
*/

.nav{
    -fx-background-color: #ddd;
}
.form1{
    -fx-background-color: lavender;
}
.form2{
    -fx-background-color: pink;
}
.form3{
    -fx-background-color: skyblue;
}
.form4{
    -fx-background-color: grey;
}